#background {
    background-color: antiquewhite;
}

#Gif { 
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
}

#frontpage {
    text-align: center;
    color: rgb(58, 102, 159);
    font-size: 100px;
}

.links {
    display:block;
    text-align:center;
    color: rgb(145, 114, 68);
    font-size: 40px;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
